NICBOT/NICBOT.BusSim/bin/
NICBOT/NICBOT.BusSim/obj/
NICBOT/NICBOT.CAN/bin/
NICBOT/NICBOT.CAN/obj/
NICBOT/NICBOT.Controls/bin/
NICBOT/NICBOT.Controls/obj/
NICBOT/NICBOT.DeviceTest/bin/
NICBOT/NICBOT.DeviceTest/obj/
NICBOT/NICBOT.GUI/bin/
NICBOT/NICBOT.GUI/obj/
NICBOT/NICBOT.PCANLight/bin/
NICBOT/NICBOT.PCANLight/obj/
NICBOT/NICBOT.ScaleSim/bin/
NICBOT/NICBOT.ScaleSim/obj/
NICBOT/NICBOT.SensorClient/bin/
NICBOT/NICBOT.SensorClient/obj/
NICBOT/NICBOT.SensorSim/bin/
NICBOT/NICBOT.SensorSim/obj/
NICBOT/NICBOT.TraceListener/bin/
NICBOT/NICBOT.TraceListener/obj/
NICBOT/NICBOT.Utilities/bin/
NICBOT/NICBOT.Utilities/obj/
NICBOT/NICBOT.v11.suo
