NICBOT/NICBOT.BusSim/bin/
NICBOT/NICBOT.BusSim/obj/
NICBOT/NICBOT.CAN/bin/
NICBOT/NICBOT.CAN/obj/
NICBOT/NICBOT.Controls/bin/
NICBOT/NICBOT.Controls/obj/
NICBOT/NICBOT.DeviceTest/bin/
NICBOT/NICBOT.DeviceTest/obj/
NICBOT/NICBOT.GUI/bin/
NICBOT/NICBOT.GUI/obj/
NICBOT/NICBOT.OSD/bin/
NICBOT/NICBOT.OSD/obj/
NICBOT/NICBOT.PCANLight/bin/
NICBOT/NICBOT.PCANLight/obj/
NICBOT/NICBOT.ScaleSim/bin/
NICBOT/NICBOT.ScaleSim/obj/
NICBOT/NICBOT.SensorClient/bin/
NICBOT/NICBOT.SensorClient/obj/
NICBOT/NICBOT.SensorSim/bin/
NICBOT/NICBOT.SensorSim/obj/
NICBOT/NICBOT.TraceListener/bin/
NICBOT/NICBOT.TraceListener/obj/
NICBOT/NICBOT.Utilities/bin/
NICBOT/NICBOT.Utilities/obj/
NICBOT/NICBOT.v11.suo

DYNO/DYNO.GUI/bin/
DYNO/DYNO.GUI/obj/
DYNO/DYNO.GUI.v11.suo
DYNO/DYNO.Utilities/bin/
DYNO/DYNO.Utilities/obj/
DYNO/DYNO.PCANLight/bin/
DYNO/DYNO.PCANLight/obj/
DYNO/DYNO.CAN/bin/
DYNO/DYNO.CAN/obj/

CAN-RS232/src/.dep
CAN-RS232/src/.lst
CAN-RS232/src/.obj
CAN-RS232/src/.out

CAN-GPS/build/.dep
CAN-GPS/build/.lst
CAN-GPS/build/.obj
CAN-GPS/build/.out

/NICBOT_MAIN_BOOT/.vs
/NICBOT_MAIN_BOOT/BOOT/Debug

/NICBOT_MAIN_APP/.vs
/NICBOT_MAIN_APP/APP/Debug

/hexcrc32/hexcrc32/bin/
/hexcrc32/hexcrc32/obj/
/hexcrc32/hexcrc32.v11.suo
